*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

header{
	/*max-height: 700px;*/
	width: 100%;
	height: 90vh;
	min-height: 800px;
	background-image: url(../imagem/capa.png);
	background-size: cover;/*deixa imagem responsiva*/
	background-position: center;
	padding: 40px 2%;
	font-weight: 300;
}

.container{
	max-width: 1280px;
	margin: 0 auto;/* centralizar container no meio da tela*/
}

/*header do site*/ 
header nav{
	float: right;/*fluatuar para direita*/
	
}

nav.mobile-menu{

	/*configuração do botão*/
	display: none;/*display none para pode oculta o mobile-menu*/
	width:32px;
	height: 32px;
	background-image: url(../imagem/menu.png);
	background-size: 100% 100%;

}

nav.mobile-menu ul li{
/*criamos um espaçamento interno de 8px cima baixo*/
/*e uma bordar*/
	padding: 8px 0;
	border-bottom: 1px solid black;
}

nav.mobile-menu ul{
	opacity: 0;/*tudo vai desaparecer */
	transition: 1s;/*mudação de estado de 1s dando um efeito lindo*/
	text-align: center;/*alinhado no centro */
	background-color: white;
	position:absolute;
	width: 100%;/* 100% de largura */
	left: 0;
	top: 80px;
	list-style-type: none; /*tira as bolinhas */
}
nav.mobile-menu:hover ul{
	opacity: 1;/*vai mostrar tudo de novo*/
}



nav.mobile-menu ul li a{
	color:black;
	text-decoration: none;
}
nav.mobile-menu ul li:hover{
	background-color: lightgray;
}

header nav.desktop-menu li{
	float: left;/*fluatuar para esquerda */
	list-style-type: none;/*para tirar a bolinha da lista*/
	margin: 0 20px;
}

header nav.desktop-menu li a{
	color: white;
	text-decoration: none;/*para tirar link sublimado*/

}
header .logo{
	float:left;/*fluatuar para esquerda */
	width: 160px;/*largura e altura*/
	height: 100px;
	background-image: url(../imagem/icon.png);
	background-size: 100% 100%;/*tamanho da imagem*/
	opacity: 0.1;/*deixa transparente*/
}

/*Sessão 2*/
.chamada_1{

	max-width: 600px;/*largura max*/
	float: right;
	margin:140px 150px;

}


.chamada_1 h2{
	/*configuração do h2 da chamada_1*/
	font-size: 100%;
	font-size: 40px;
	color:white;
	font-weight: 300;
}
.chamada_1 p{
	/*configuração do p da chamada_1*/
	color:white;
	font-size:15px;
	margin-top:10px;

}
.limpa{
	clear:both;
}
section.sessao1 .container{
/*rescrevemos o container colocando 
uma largura maxima*/
	max-width: 1000px;
	height: calc(100% + 30px);
}

section.sessao1{
	width: 100%;/*largura de 100%*/
	background-color:#472562;
	padding: 0px 2%;
	height: 400px;
}

.texto-sessao1{
	position:relative;/*posição relativa*/
	left: 55px;
	width: 50%;/*largura de 50% para pode fica ocupado metade da tela */
	float: left;/*flutuação para esquerda*/
	color:white;
	margin-top: 60px;
	padding-left: 80px;/*espaçamento interno esquerdo de 80px*/
}
section.sessao2{
	padding: 0 2%;
	background-color: white;
	text-align: center;
	

}
section.sessao2 h2{
	font-weight: 300;
	color:#472663;
}
section.sessao2 p{
	margin-top: 30px;
	display:inline-block; 
	max-width: 900px;
}

.sessao2 img{
	position: relative;
	top: 60px;
	width: 100%;
	margin-top: 40px;
}
.sessao2 .container{
	max-width: 1000px;
}

.texto-sessao1 h2{
	font-weight: 300;
	font-size: 26px;
}
.texto-sessao1 p{
	font-size: 15px;
	margin-top: 20px;
}
.texto-sessao1 ul{
	font-size: 13px;
	list-style-position: inside;
}
.texto-sessao1 ul li{
	margin: 8px;
	float: left;
	width: 100%;
/*colocando lista flutuando para esquerda espaçamento externo
de 8px largura de 100% */
}
/*sessão 3*/
.sessao3{
	width: 100%;
}
.parte1{
	color:white;
	float: left;
	width: 50%;
	padding: 90px 0;
	background-color: #835fa7;
}
.parte1 h2{
	font-weight: 300;
	font-size: 23px;
	font-style: italic;
}
.wrape-parte1{
	max-width: 400px;
	float: right;
	padding:0 30px;
}
.wrape-titulor-autor{
	width: calc(100% - 40px);

}
.parte1 p{
	margin-top: 10px;
	font-size: 16px;
	line-height: 35px;
}
.parte2{
	float: right;
	width: 50%;
	padding:90px 0 90px 0;
}

.sobre-autor{
	max-width:600px;
	float:left;
	padding-left: 30px;
}
.titulo-autor{
	float: left;
	width: 100%;

}
.titulor-autor .img-autor{
	float: left;
	width: 40px;
	height:40px;
	border-radius: 20px;
	position: relative;
	bottom: 70px;
	left: 100px;
	background-color: green;
	
}
.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
}

.titulor-autor h2{
	color:#232323;
	font-weight: 400;
	font-size: 25px;
	padding-right: 20px;
}
.titulor-autor p{
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color:#232323;
}
.texto-autor p{
	padding:10px 5%;
	color: #232323;
	font-size: 15px;
	
}
.slide{
	width: 100%;
	float:left;
	margin-top:8px;
	padding-left:30px;

}
.slide span{ 
	float: left;
	width: 16px;
	height: 16px;
	background-color: lightgray;
	border-radius: 8px;/*para fica redondo*/
	margin-right: 8px;
	cursor: pointer;
}
.form{
	float: left;
	width: 50%;
	color:white;
	padding-left: 10px;
}
.form h2{

	font-weight: 300;
	font-size: 23px;
}
.form p{

	font-weight: 300;
	font-size: 15px;
	max-width: 400px;
}
.form input[type=text]{
	width: 100%;
	max-width: 480px;
	height: 48px;
	padding-left: 8px;
	line-height: 58px;
	border:1px solid rgb(200,200,200);
	margin:10px;

}
.form input[type=email]{
	width: 100%;
	max-width: 480px;
	height: 48px;
	padding-left: 8px;
	line-height: 58px;
	border:1px solid rgb(200,200,200);
	margin:10px;

}
.form textarea{
	width: 100%;
	max-width: 480px;
	height: 100px;
	margin:10px;
	padding-left: 8px;
}
.form input[type=submit]{
	background-color: #ff703d;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color:white;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 30px;
	border:0;

}

.device-sessao1{
	position: relative;
	top:-30px;
	float: left;
	width: 50%;/*largura da imagem*/
	height: 430px;/*altura da imagem*/
	background-image: url(../imagem/device.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.btn1-texto{
	/*criamos um botão*/
	font-size: 13px;
	background-color: #ff703d;
	width: 165px;
	height: 44px;/*altura do botão*/
	cursor: pointer;
	margin-top: 30px;/*para desce o botão*/
	text-align: center;
	line-height: 44px;/*colocamos de acordo com altura colocamos igual para pode 
	centralizar a letra*/
	border-radius: 30px;
}
section.sessao4{
	width: 100%;
	background-color: #472563;
	padding: 100px 0;
}
.map-wrape{
	float:right;
	width: 50%;
	color: white;
}
.map-wrape3{
	
}
.map-wrape2{
	margin-top: 10px;
	max-width: 480px;
}
.map-wrape h2{

	font-weight: 300;
	font-size: 23px;
}
.mapa{
	margin-top: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	border:5px solid rgb(200,200,200);

}

@media Screen and (max-width: 580px){
	.parte1{
		width: 100%;
		padding: 40px 0;
	}
	.parte2{
		width: 100%
		padding: 40px 0;
	}
	.sessao2 img{
	margin-top: 16px;
	top: 10px;
	
	}
}

@media screen and (max-width: 1060px){
	.sessao2{
		padding: 40px 4%;
	}
}
@media screen and (max-width: 768px){
	nav.desktop-menu{
		display: none;
	}
	nav.mobile-menu{
		display:block; 
	}
	section.sessao1{
	padding: 40px 2%;
	height: auto;/*altura automatica*/

	}

	.texto-sessao1{
		width: 100%;
		margin-top: 0;
		padding-left:0;
		position: static;
		float: none;
		display: inline-block;
		text-align: center;
		/*desabilitando o float*/
	}
	.device-sessao1{
		display: none;
/*para sumir o elemento no caso a imagem do telefone*/

	}
	.texto-sessao1 ul{
		display: inline-block;
		margin-top: 20px;
	}

	.texto-sessao1 ul li{
		float: none;
	}


	.btn1-texto{
		display: inline-block;
	}

.chamada_1{
	max-width: none;
	text-align: center;
	width: 100%;
	float: none;
	margin:100px 0px;
	}

	header{
	/*max-height: 700px;*/
	width: 100%;
	height:auto;
	min-height: 90vh;
	padding: 40px 2%;

     }
  .chamada_1 h2{
  	padding: 0 10px;
	font-size: 30px;
	color:white;
	font-weight: 300;
}
.chamada_1 p{
	color:white;
	font-size:12px;
	margin-top:10px;

   }
}